DATABASE_URL=

AUTH_SECRET=
NEXTAUTH_SECRET=

OPENAI_API_KEY=
OPENAI_MODEL=

LLM_PROVIDER=
GROQ_API_KEY=
GROQ_MODEL=

SLACK_WEBHOOK_URL=
NEXT_PUBLIC_SLACK_CHANNEL_URL=

GITHUB_TOKEN=
GITHUB_REPO=

CRON_SECRET=
APP_BASE_URL=

NEXT_PUBLIC_BASE_URL=
